<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caciones.rssibtv1" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="rssi_bt1.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.caciones.rssibtv1.Domain" />

        <!--
            <activity
            android:name=".View.SpinnerBuildingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.SpinnerRoomActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.caciones.rssibtv1.View.SpinnerBuildingActivity" />
        </activity>
        <activity
            android:name=".View.ChooseBtScreenActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".View.RoomMatrixScreenActivity"
            android:label="@string/title_activity_get_intent_extra"
            android:parentActivityName=".View.SpinnerBuildingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.caciones.rssibtv1.View.SpinnerBuildingActivity" />
        </activity>
        -->
        <activity
            android:name=".View.BuildingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.RoomActivity"
            android:label="@string/title_activity_room"
            android:parentActivityName=".View.BuildingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.caciones.rssibtv1.View.BuildingActivity" />
        </activity>
        <activity
            android:name=".View.BTActivity"
            android:label="@string/title_activity_bt"
            android:parentActivityName=".View.RoomActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.caciones.rssibtv1.View.RoomActivity" />
        </activity>

        <receiver android:name=".Controller.BTReciever" >
            <intent-filter>
                <action android:name="android.bluetooth.device.action.FOUND" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>
